{% extends "global/index.html" %}
{% load render_table from django_tables2 %}


{% block content %}
{% if request.user.is_staff %}
    <a href="{% url "empresas:adicionar_empresa" %}" class="btn btn-primary mb-3">
        <span class="fas fa-plus mr-1"></span>
        Cadastrar
    </a>
{% endif %}
<div class="card-table">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                {% render_table table %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}