{% extends "global/index.html" %}

{% block content %}
<a href="{% url "fornecedores:adicionar_fornecedor" %}" class="btn btn-primary mb-3">
    <span class="fas fa-plus mr-1"></span>
    Cadastrar
</a>
<div class="card-table">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Cidade</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fornecedor in fornecedores %}
                        <tr>
                            <td>{{ fornecedor.nome }}</td>
                            <td>{{ fornecedor.telefone }}</td>
                            <td>{{ fornecedor.cidade }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Opções
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url "fornecedores:editar_fornecedor" fornecedor.id %}">Editar</a>
                                        <a class="dropdown-item" href="{% url "fornecedores:deletar_fornecedor" fornecedor.id %}">Deletar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
