@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@1,900&display=swap');


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vh;
    background-color:#e3e9f7;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: "Poppins", sans-serif;
}

label {
    font-family: "Poppins", sans-serif;
}

.card-login {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 150px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-background{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: #9e9af0;
    border-radius: 5px;
    border: 0.5px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-center{
    margin: 0;
    padding: 5px;
    padding-bottom: 5px;
    height: 50px;
    width: 100px;
    position: relative;
    left: 40%;
}

.text-center{
    padding-top: 5px;
}

.company_image{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.company-infos-container{
    align-items: center;
    font-size: 50px;
}

.company-infos{
    display: flex;
    align-self: center;
}