<div class="dropdown">
    <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Opções
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url "usuarios:editar_usuario" record.id %}">Editar</a>
        <a class="dropdown-item" href="{% url "usuarios:editar_password" record.id %}">Editar senha</a>
        <a class="dropdown-item" href="{% url "usuarios:deletar_usuario" record.id %}">Deletar</a>
    </div>
</div>
