<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static "global/css/style_login.css" %}">
    <title>ERP - Login</title>
</head>
<body>
    <div class="card-background">
        <div class="card-logo">
            <div class="company-image-container">
                <img src="{% static "global/img/company.png" %}" class="company_image" alt="Company">
            </div>
            <div class="company-infos-container">
                <p class="company-infos">
                    <span class="item-description-my">
                        <b>ERP</b>
                    </span>
                </p>
            </div>
        </div>
        <div class="card-login">
            <form method='POST'>
                {% csrf_token %}
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Email:</label>
                    <input type="email" id="form2Example1" class="form-control" name="email"/>
                </div>
                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">Senha:</label>
                    <input type="password" id="form2Example2" class="form-control" name="password"/>
                </div>
                <!-- Submit button -->
                <div class="button-center">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Entrar</button>
                </div>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Não tem cadastro?<a href="#!"> Fale conosco</a></p>
                </div>
            </form>
            {% bootstrap_messages %}
        </div>
    </div>
</body>
</html>